/*
    Coded by ♥ at codiato
*/

body
{
    background: #0f99c1;
}

div#uc, div#copyright
{
    text-align: center;
}

div#copyright
{
    margin-top: 30px;
    font-family: Tahoma;
    font-size: 8pt;
    color: white;
}